html {
  font-size: 1rem;
}
.mensaje-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    background-color: #fafafa;
}
.section__contenido {
  padding: 20px;
}